@import "node_modules/vanilla-framework";
@include vanilla;


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

nav {
    padding: 15px 30px;
    background-color: #F3F2E6;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logodiv a {
    font-size: 32px;
    font-weight: 600;
    color: black;
}

.logo{
    width: 50px;
    height: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-right: 25px;
}

img{
    height: 25px;
    width: 25px;
}

button {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color: white;
    font-weight: 600;
    font-size: 15px;
}


/* Header starts here */
header {
    background-color: #F3F2E6;
    padding: 190px 200px ;
}

.headerdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 100%;
}

h1 {
    display: block;
    padding: 10px 40px;
    font-size: 45px;
    font-weight: bold;
}

.headerdiv input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border-width: 3px;
}
.headerdiv p {
    padding: 0px 130px;
}
.headerdiv div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.links{
    width: 200px;
    text-align: left;
    margin-left: 8px;
    color: black;
    font-size: 14px;
    font-weight: 550;
}

/*body section start here */

.hero-container-one {
    background-color: #FFFFFF;
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    margin-bottom: 40px;
}
.hero-header p{
    font-size: 16px ;
    font-style: oblique;
    margin-right: 10px;
}
.hero-section {
    display: flex;
    justify-content: flex-start;
    background-color: #F9F9F5;
    border-radius: 15px;
    width: 1100px;
    margin-bottom: 50px;
}
.hero-section h2{
    font-size: 32px;
    width: 650px;
}
.hero-section > img {
    height: 100%;
    width: 420px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.section-column {
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
}
.section-column > img {
    height: 60px;
    width: 60px;
}

.section-column >button {
    width: 580px;
    padding: 20px;
    margin-top: 15px;
    
}
.section-column >div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 18px;
    font-style: oblique;
}

.ctabtn {
    width: 200px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctabtn a{
    margin-right: 10px;
}

.hero-header > div {
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 25px;
}
.hero-header img {
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

.class2 {
    flex-direction: column;
    background-color: #F8F0DF;
}

.checked {
    color: white;
}
.block {
    width: 510px;
    height: 286px;
    background-color: #FFFFFF;
    margin-right: 20px;
    border-radius: 10px;
    padding: 40px 40px;
}
.block-content img {
    width: 510px;
    height: 100%;
    border-radius: 10px;
}

